.qaf {
    background-color: $third-color-j;
    min-height: 80vh;
    padding-top: 10rem;
    padding-bottom: 5rem;
    .qaf__bg {
        background-color: #C5BC8E;
    }
    .qaf__bg__text {
        background-color: $secondary-color-j;
    }
}